#cuerpo{
    background-image: url('imagenes/escena-pokemon_5120x2880_xtrafondos.com.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#pokecuerpo{
    background-image: url('imagenes/holafondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#Equipocuerpo{
    background-image: url('imagenes/pikachu-pokemon_3840x2144_xtrafondos.com.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#Batallacuerpo{
    background-image: url('imagene/rayquaza-pokemon-ilustracion_5700x3206_xtrafondos.com.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#titulo{
    color: rgb(54, 57, 59);
    font-family: "VT323";
    font-size: 99px;
}
.vinculado{
    font-family: "VT323";
    font-size: 25px;
}
#rectangulo{
    background-color: rgba(255, 255, 255, 0.4);
}
#fuente{
    font-family: "VT323";
    font-size: 25px;
}
#campo_batalla{
    background-color: #343840;
}

#menu_seleccion{
    background-color: #4b484862;
}
#boton_iz{
    background-color: rgb(255, 0, 0);
    font-family: "VT323";
    font-size: 25px;
    color: azure;
}
#boton_der{
    background-color: red;
    font-family: "VT323";
    font-size: 25px;
    color:azure;
}
#menuBoton{
    background-color: red;
    font-family: "VT323";
    font-size: 25px;
    color:azure;
}
#title{
    font-size: 70px;
    font-family: "VT323";
}
#login-form{
    background-color: aliceblue;
}
#login-btn{
    background-color: red;
    font-family: "VT323";
    color:azure;
}
#registro-btn{
    background-color: rgb(255, 0, 0);
    font-family: "VT323";
    color:azure;
}
#inicio-title{
    font-size: 50px;
    font-family: "VT323";
}
#team-text{
    font-family: "VT323";
    font-size: 30px;
}
#add-btn{
    font-family: "VT323";
}
#remove-btn{
    font-family: "VT323";
}
#show-btn{
    font-family: "VT323";
}
#logout-btn{
    font-family: "VT323";
}